#content {
  margin: 0 auto;
  width: 900px;
}

.sectionheader {
  color: #356886;
  text-align: center;
  font-family: Raanana; serif;
  font-size: 60px;
  font-style: strong;
}


/*job titles*/
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  font-family: Raanana; "sans-serif";
}

/*job organization*/
.organization {
  font-weight: 400;
  font-size: 1.5em;
  font-size: 1.25em;
  font-family: Raanana; "sans-serif";
}

/*job dates*/
.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: Raanana; "sans-serif";
}

/*contact info, skills, education*/

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 15px;
  font-family: Raanana; "sans-serif";
}

#degrees {
  margin-top: 5px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  font-family: Raanana; "sans-serif";
  text-align: center;
}

.do {
  text-align: center;
  font-family: Raanana; "sans-serif";
  font-size: 20px;

}

.navbar {
  font-family: Raanana, serif;
}

#footer {
  font-family: Raanana, serif;
  color: #356886;
  text-align: center;
}

i.fab {
  color: #356886;
  align: center;
  width: 50px;
  text-align: center;
}

i.fas {
  color: #356886;
  align: center;
  width: 50px;
  text-align: center;
}

#pagetopper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
