#headline {
  font-size: 2.7em;
  font-weight: 700;
  font-family: 'Georgia', serif;
  padding: 10px;
  font-style: italic;
  border-style: solid;
  background-color: #383838;
  color: #fff;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 100%;
  font-size: 1em;
}

.caption {
  font-size:1em;
  padding-bottom: 5px;
  font-style: italic;
  color: gray;
}

.caption2 {
  text-align: center;
}

.chapter-headline {
  font-size: 2.5em;
  font-family: 'Georgia', serif;
  color: #f23030;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  color: gray;
  font-style: italic;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f23030;
  color: #000;
  font-weight: 500;
  opacity: .7;
}

.row {
  padding: 50px;
  font-family: 'Georgia', serif;
  line-height: 100%;
  font-size: 1em;
}

/* Top Nav / Top Nat */

.nav-top {
  color: #fff;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
}

.red {
  color: #f23030;
}

/* hero/splash area */

.hero.container {
  position:relative;
  text-align: center;
  color: #fff;
}

.hero-image {
  width:100%;
}

.overlay {
  position:absolute;
  top: 50%;
  left: 50%;
  opacity: .8;
  width:600px;
  height:400px;
  margin-left: -300px;
  margin-top: -200px;
  background-color: #f23030;
  border-style: double;
  border-color: #fff;
  border-width: medium;
  border-radius: 10%;
}


.hero-hed {
  font-family: 'Georgia', serif;
  font-size: 5em;
  color:#fff;
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
}

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  font-size:.25em;
}

/*Pull Quotes */

.quote {
  font-family: 'Montserrat', sans-serif;
  color: #f23030;
  font-size: 3em;
  text-align:left;
  padding: 15px 0 15px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  float: Center;
  font-style: italic;
  margin-right: 50px;
  padding-right: 15px;
  border-right: 4px solid #f23030;
  border-left: 4px solid #f23030;
  padding: 13px;
}

.quote-attribution {
  font-size: .5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align:left;
  color: #000;
}

.sidebar {
  border-top: 4px solid #f23030;
  border-bottom: 4px solid #f23030;
}


.sidebar-head {
  background-color: #f23030;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 60%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align:center;
  border-radius: 40%;
  font-size: 2em;
  font-family: 'Georgia', serif;
  margin: 0 auto;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: hotpink;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #f23030;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align:center;
  border-radius: 10%;





/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  text-align: center;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*Close Quotes*/

/* Media Queries */

@media (max-width: 700px) {
  .hero-hed {
    font-size: 1.5em;
  }
}
