/*styles for my resume*/
BODY {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #444;
  font-weight: 400;
}

/*banner name at top*/
#name {
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*title*/
#title {
  color: #33485e;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

/*section titles*/
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #ffffff;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
  min-width: 300px;
}

/*job titles*/
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}

/*job organization*/
.organization {
  font-weight: 400;
  font-size: 1.5em;
  font-size: 1.25em;
}

/*job dates*/
.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/*contact info, skills, education*/

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.menu li {
    display:inline;
}

#degrees {
  margin-top: 5px;
  margin-right: : 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

#do {
  margin-top: 5px;
  margin-right: : 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
