#content {
  margin: 0 auto;
  width: 900px;
}

h1 {
  font-family: Georgia, serif;
  font-size: 45px;
}

/* scroll down for byline style, added later */

h2 {
  font-family: Georgia, serif;
  font-size: 30px;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#masthead {
  font-size: 50px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  color: blue;
  font-weight: bold;
  border-style: double;
  border-color: red;
  border-width: medium;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border {
  border-radius: 30%;
}

.captions {
  color: gray;
  font-style: italic;
  text-align: center;
}

#byline {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: italic;
}

h3 {
  font-family: Georgia, serif;
  font-size: 20px;
}

blockquote {
  float: Center;
  font: 24px normal helvetica, arial, sans-serif;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  color: blue;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 4px solid red;
  padding: 13px;
}
